<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834446259695-l1m1b2on7vt82fp54ui53pn4dqrgh7aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834446259695-l1m1b2on7vt82fp54ui53pn4dqrgh7aj</string>
	<key>API_KEY</key>
	<string>AIzaSyASGCglo64rguPe6oO_hWtd_yPMyUaaQ6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>834446259695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weightRecordNasubibocchi</string>
	<key>PROJECT_ID</key>
	<string>weight-record-nasubibocchi</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-record-nasubibocchi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834446259695:ios:bcbb05117a001dac87b21a</string>
</dict>
</plist>